@charset "UTF-8";

body {
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0 0 0 0;
}

/* For responsive design */
html * {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 960px; 
}

/* "border-bottom": draw lines below h2 tags */
h2 {
    color: #301dc5;
    font-size = 22px;
    border-bottom: 3px dotted #301dc5;
}

li {
    padding: 2px 0;
}

p {
    padding: 2px 0;
}

/* リンク操作 */
/* 通常のリンク */
a:link {
    color: #301dc5;
    text-decoration: none;
}
/* 訪問済リンク*/
/* a:visited {
    color: #17cdd4;
} */
/* mouse pointer is on link*/
a:hover {
    color: #F0566E;
}
/* mouse button is pushed */
/* a:active {
    color: #17cdd4;
} */

/* <nav class = "nav"> に含まれる <li> 全部に適用 */
.nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
}

.contentA, .contentB{
    width: 50%;
    height: 200px;
}

.contentA{
    float: left;
}
    
.contentB{
    float: right;
}
